*.macrocall
/*.a
/*.AppImage
/*.dll
/*.exe
/*.mpq
/*.MPQ
/*.zip
/.cache
/.svn
/.vs
/.vscode
/build-script-cache
/d2char
/d2data
/d2music
/d2sfx
/d2speech
/d2video
/dependencies/csfml
/dependencies/physfs
/dependencies/sfml
/dependencies/stdx
/dependencies/StormLib
/DIABDAT
/DIABDAT.*
/hellfire
/hellfire.*
/hfmonk
/hfmonk.*
/hfmusic
/hfmusic.*
/hfvoice
/hfvoice.*
/portable
/target
