[Desktop Entry]
Name=Diablo
GenericName=Diablo
Exec=Diablo
Icon=icon
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Game;
